.listingpage {
  width: 100%;
  padding: 0 6rem;
  font-size: var(--font-size-s);

  .listing {
    display: flex;
    width: 100%;
    font-size: var(--font-size-s);
    padding: 6rem 0;

    .image {
      max-width: 555px;
      height: fit-content;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 100%;
      padding-left: 4rem;

      &Row {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      height: 50px;

      .action {
        fill: var(--color-typo-primary);
      }
    }

    .mainInfo {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      gap: 0.5rem;

      &Name {
        font-size: var(--font-size-3xl);
      }

      &Artist {
        font-size: var(--font-size-m);
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      height: inherit;
      justify-content: center;
      gap: 0.5rem;

      &Crypto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.25rem;
        font-size: var(--font-size-m);
      }

      &Local {
        color: var(--color-typo-secondary);
      }
    }

    .buttonPrimary {
      display: flex;
      padding: 0.5rem 1.25rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: var(--font-size-m);
      color: var(--color-typo-primary);
      background-color: var(--color-accent);
    }

    .extendedInfo {
      &Tabs {
        :global {
          .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: var(--font-size-xl);
            font-weight: 400;
            color: var(--color-typo-secondary);
          }

          .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: var(--color-typo-primary);
          }
        }
      }

      .description {
        font-size: var(--font-size-m);
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: max-content;

        &Row {
          width: 100%;
          display: flex;
          color: var(--color-typo-primary);
          gap: 1rem;

          &Name {
            color: var(--color-typo-secondary);
          }
        }
      }
    }

    &Subtitle {
      font-size: var(--font-size-m);
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
  padding: 0;
}

.proceedingButton {
  pointer-events: none;
  cursor: not-allowed;
}

.proceedingLoader {
  color: var(--color-typo-primary);
  cursor: wait;
}
