.collections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 0;

  .title {
    font-size: var(--font-size-4xl);
  }

  .collection {
    display: flex;
    flex-direction: column;
    color: var(--color-typo-primary);
    gap: 1rem;
    cursor: pointer;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        display: flex;
        font-size: var(--font-size-2xl);
        gap: 0.75rem;
      }

      .button {
        font-size: var(--font-size-m);
        cursor: pointer;
      }
    }

    .gallery {
      color: var(--color-typo-link);
    }

    .listings {
      display: flex;
      gap: 2rem;
      align-items: center;
      overflow-x: scroll;
      padding: 1rem 0 2rem 0;
    }
  }
}
