.collection {
  height: 100%;
  width: 100%;
  padding: 0 6rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;

    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      font-size: var(--font-size-s);

      &Title {
        font-size: var(--font-size-2xl);
        font-weight: 500;
      }
    }

    .name {
      display: flex;
      font-size: var(--font-size-3xl);
      gap: 0.75rem;
    }

    .info {
      display: flex;
      gap: 4rem;
      font-size: var(--font-size-s);

      .image {
        height: 320px;
        width: 320px;
        object-fit: cover;
      }

      .details {
        display: grid;
        gap: 0.5rem 1rem;
        grid-template-columns: max-content auto;
        width: 100%;
        font-size: var(--font-size-s);
        height: fit-content;

        .fieldName {
          color: var(--color-typo-secondary);
        }
      }

      .price {
        display: flex;
        gap: 0.25rem;
        align-items: center;
      }

      .description {
        max-width: 600px;
        width: 100%;
        height: fit-content;
        font-size: var(--font-size-s);
        white-space: pre-line;
      }
    }
  }

  .notFount {
    margin-top: 2rem;
  }
}
