.main {
  height: 100%;
  width: 100%;
  padding: 3rem;
  font-size: var(--font-size-s);

  .subtitle {
    &Meta {
      color: var(--color-typo-accent);
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
}
