.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 6rem;
  font-size: var(--font-size-s);

  .subtitle {
    &Meta {
      color: var(--color-typo-accent);
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-default);
  margin: 0 auto;
  width: 100%;
  padding-top: 6rem;

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4rem 0;

    &Column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.125rem;

      &Info {
        align-items: center;
      }

      &Tools {
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 1.125rem;
      }
    }



    &Theme {
      cursor: pointer;
    }

    &Languages {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1.125rem;

      &Item {
        cursor: pointer;
      }
    }

    &Link {
      cursor: pointer;
      text-transform: uppercase;
      color: var(--color-typo-primary);

      &Accent {
        color: var(--color-typo-accent);
      }
    }
  }
}
