.tabs {
  color: var(--color-typo-secondary);

  :global {
    .ant-tabs-tab-btn {
      font-size: var(--font-size-3xl);
      font-weight: 500;
    }

    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--color-typo-primary);
    }

    .ant-tabs-tab:hover {
      color: var(--color-typo-accent);
    }

    .ant-tabs-ink-bar {
      color: var(--color-accent);
      background: var(--color-control-bg-primary);
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 16px;
    }

    .ant-tabs-nav::before {
      border-bottom: none;
    }

    .ant-tabs-tab .ant-tabs-tab-btn,
    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-size: var(--font-size-3xl);
      color: var(--color-typo-secondary);
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--color-typo-primary);
      text-shadow: none;
    }
  }
}
