.itempage {
  width: 100%;
  padding: 0 6rem;
  font-size: var(--font-size-s);

  .listing {
    display: flex;
    width: 100%;
    font-size: var(--font-size-s);
    padding: 6rem 0;

    .image {
      max-width: 555px;
      height: fit-content;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 100%;
      padding-left: 4rem;

      &Row {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      height: 50px;

      .action {
        fill: var(--color-typo-primary);
      }
    }

    .mainInfo {
      display: flex;
      flex-direction: column;
      font-weight: 400;

      &__name {
        font-size: var(--font-size-3xl);
        margin-bottom: 10px;
      }

      &__artist {
        font-size: var(--font-size-xl);
      }
    }

    .lastPrice {
      margin-bottom: 10px;
    }

    .priceInput {
      height: 47px;
      width: 20vw;
      font-size: var(--font-size-l);
      display: flex;
      align-items: center;
    }

    .buttons {
      display: flex;
      gap: 20px;

      .button {
        display: flex;
        padding: 0.5rem 0.75rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: var(--font-size-m);
        color: var(--color-typo-primary);

        &Primary {
          background-color: var(--color-accent);
        }

        &Secondary {
          background-color: var(--color-bg-secondary);
        }
      }
    }

    .extendedInfo {
      &Tabs {
        :global {
          .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: var(--font-size-xl);
            font-weight: 400;
            color: var(--color-typo-secondary);
          }

          .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: var(--color-typo-primary);
          }
        }
      }

      .description {
        font-size: var(--font-size-m);
      }

      .details {
        height: auto;
        width: 430px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: solid 1px var(--color-typo-primary);
        border-radius: 6px;
        gap: 1rem;

        &Row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: var(--font-size-m);

          &Name {
            font-weight: 200;
          }
        }
      }
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
  padding: 0;
}

.flowLogoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .flowLogo {
    height: 20px;
  }
}
