.market {
  height: 100%;
  width: 100%;
  padding: 0 6rem;
  font-size: var(--font-size-s);
  overflow: hidden;

  .content {
    display: grid;
    grid-template-columns: 286px 1fr;
  }

  .listings {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: calc(100vh - 216px);
    overflow-y: scroll;
    padding-bottom: 1rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .search {
    display: flex;
    width: 300px;
  }

  .sort {
    width: 160px;
  }

  .slider {
    margin: 0;

    :global {
      .ant-slider-track {
        background-color: var(--color-accent);
      }

      .ant-slider-handle {
        border: 2px solid var(--color-accent);
      }
    }
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;
    color: var(--color-typo-primary);

    :global {
      .ant-checkbox-inner {
        border-radius: 0;
      }

      .ant-checkbox-wrapper:hover .ant-checkbox-inner,
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: var(--color-accent);
      }

      .ant-checkbox-checked::after {
        border-color: var(--color-accent);
      }

      .ant-checkbox-wrapper {
        color: var(--color-typo-primary);
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
      }

      .ant-checkbox-checked::after {
        border-color: var(--color-accent);
      }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
    margin-right: 3rem;

    &Label {
      font-weight: 500;
    }

    &Item {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--color-bg-border);

      &:last-of-type {
        border-bottom: none;
      }
    }

    &Header {
      display: flex;
      align-items: center;
    }

    &Title {
      display: flex;
      font-size: var(--font-size-xl);
      gap: 0.75rem;
      margin-bottom: 0.75rem;
    }

    &Input {
      width: 100%;
    }

    &List {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
}

:global {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 30px;
    padding: 0 0.5rem;
  }

  .ant-select-item-option-active {
    background-color: var(--color-bg-secondary) !important;
  }

  .ant-select-selector {
    border-color: var(--color-bg-border);
    border-radius: 0;
    color: var(--color-control-primary);
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--color-bg-secondary);
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: var(--color-accent);
    box-shadow: none;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--color-accent);
  }

  .ant-select-single.ant-select-open .ant-select-selection-item {
    color: var(--color-control-primary);
  }
}
