.profile {
  height: 100%;
  width: 100%;
  font-size: var(--font-size-s);
  gap: 2rem;
  padding: 0 6rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    background: var(--color-bg-default);

    &Tabs {
      :global {
        .ant-tabs-tab .ant-tabs-tab-btn {
          font-size: var(--font-size-xl);
          font-weight: 500;
        }
      }
    }

    &Description {
      margin: 0;
    }
  }

  .collection {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2rem;
    background: var(--color-bg-default);

    &Title {
      font-size: var(--font-size-2xl);
      font-weight: 500;
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
  padding: 0;
}
