.hottest {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;

  .title {
    font-size: var(--font-size-3xl);
  }

  .drops {
    display: flex;
    gap: 2rem;
    align-items: center;
    overflow: hidden;
    padding: 2rem 0;
  }
}
