body[theme='dark'] {
  --color-accent: #143aff;

  // фон
  --color-bg-default: #000;
  --color-bg-delete: #00c600;
  --color-bg-secondary: #6b6b6b;

  // типографика
  --color-typo-primary: #fff;
  --color-typo-accent: #143aff;
  --color-typo-link: #143aff;
  --color-typo-secondary: #969696;
}
