body[theme='dark'] {
  --color-accent: #143aff;
  --color-error: #ff5151;

  // фон
  --color-bg-default: #000;
  --color-bg-secondary: #fff;
  --color-bg-delete: #00c600;
  --color-bg-border: #fff;

  // типографика
  --color-typo-primary: #fff;
  --color-typo-secondary: #757575;
  --color-typo-accent: #143aff;
  --color-typo-link: #143aff;

  // контролы
  --color-control-primary: #000;

  // скроллбар
  --color-scrollbar-accent: rgb(24 144 255 / 20%);
}
