body[theme='light'] {
  --color-accent: #ffd814;

  // фон
  --color-bg-default: #fff;
  --color-bg-delete: #b719b3;
  --color-bg-secondary: #eaecef;

  // типографика
  --color-typo-primary: #000;
  --color-typo-accent: #ffd814;
  --color-typo-link: #ffd814;
  --color-typo-secondary: #6b6b6b;
}
