body[scheme='light'] {
  --color-accent: #ffd814;

  // фон
  --color-bg-default: #ffffff;

  // типографика
  --color-typo-primary: #000000;
  --color-typo-secondary: #345345;
  --color-typo-accent: #ffd814;
  --color-typo-link: #ffd814;
}
