body[theme='tokyo'] {
  --color-accent: #ffd814;

  // фон
  --color-bg-default: #FF0DFC;
  --color-bg-delete: #b719b3;

  // типографика
  --color-typo-primary: #000000;
  --color-typo-accent: #ffd814;
  --color-typo-link: #FFD856;
}
