@import 'antd/dist/antd.css';
@import '../../node_modules/normalize.css/normalize';
@import './typography';
@import './dark';
@import './light';
@import './animations';

html,
body,
div#root {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.15;
  font-family: 'HelveticaNeueCyr', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--color-typo-primary);
  background-color: var(--color-bg-default);
  font-size: var(--font-size-m);
}

button {
  background: none;
  border: none;
}

a {
  cursor: pointer;
  color: var(--color-typo-link);
  text-decoration: none;

  &:hover {
    color: var(--color-typo-link);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-typo-primary);
  margin: 0;
}

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}
