.header {
  display: grid;
  height: 192px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid;

  .menuIcon {
    display: flex;
    cursor: pointer;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-typo-primary);
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.125rem;

    &Info {
      align-items: center;
    }

    &Tokyo {
      cursor: pointer;
      font-weight: 500;
      transition: 0.3s ease;

      &Active {
        color: var(--color-typo-accent);
      }
    }

    &Theme {
      cursor: pointer;
    }

    &Languages {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 1.125rem;

      &Item {
        display: flex;
        cursor: pointer;
        visibility: hidden;
        transition: 0.3s ease;
        opacity: 0;

        &Active {
          visibility: visible;
          opacity: 1;
        }
      }

      &:hover {
        .infoLanguagesItem {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &Link {
      cursor: pointer;
      text-transform: uppercase;
      color: var(--color-typo-primary);
      transition: color 0.3s ease;
      padding: 0;

      &:hover {
        color: var(--color-typo-accent);
      }

      &Accent {
        color: var(--color-typo-accent);
      }
    }
  }
}
