.purchase {
  width: 100%;
  padding: 0 6rem;
  font-size: var(--font-size-s);

  .content {
    display: flex;
    gap: 2rem;
    height: calc(100% - 150px);
    flex-direction: column;
    padding: 40px 0 60px;

    .back {
      color: var(--color-accent);
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: var(--font-size-m);
      cursor: pointer;

      &Icon {
        fill: var(--color-accent);
      }

      &Text {
        margin-top: 2px;
      }
    }

    .info {
      height: 100%;
      display: flex;
      gap: 6rem;

      .transaction {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-right: 15rem;
        gap: 1rem;

        .row {
          display: flex;
          justify-content: space-between;
        }

        .col {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          &Title {
            color: var(--color-typo-secondary);
          }
        }

        &ID {
          text-overflow: ellipsis;
        }

        .errorContainer {
          width: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          background-color: #fed7d7;
          color: black;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;

        .image {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.5rem;

          &Description {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
          }

          &Block {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem 0;
            border-bottom: 1px solid var(--color-bg-border);

            &Row {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }

            &Price {
              border: none;
            }
          }

          &Button {
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;
            gap: 0.5rem;
          }

          .question {
            fill: var(--color-typo-primary);
          }
        }

        .buy {
          display: flex;
          padding: 0.5rem 1.25rem;
          line-height: 24px;
          width: 100%;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: var(--font-size-m);
          color: var(--color-typo-primary);
          background-color: var(--color-accent);
        }
      }

      .title {
        font-size: var(--font-size-2xl);
        font-weight: 500;
      }

      .subtitle {
        font-size: var(--font-size-l);
        font-weight: 500;
      }

      .congrats {
        font-size: var(--font-size-l);
      }
    }
  }
}

.loading {
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.proceedingLoader {
  color: var(--color-typo-primary);
  cursor: wait;
}

.proceedingButton {
  pointer-events: none;
  cursor: not-allowed;
}

.transactionLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  &Status {
    margin-top: 4px;
  }

  .openIcon {
    fill: var(--color-accent);
    height: 15px;
  }
}
