.form-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 50%;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.mint-button {
    width: 80px;
    height: 50px;
}