.mint {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 50%;
  justify-content: space-between;
  margin: 40px auto;
  background-color: var(--color-typo-primary);
  padding: 20px;
  color: var(--color-bg-default);
  border-radius: 5px;

  .label {
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 80px;
    height: 50px;
    color: black;
  }

  .field {
    border-radius: 5px;
    border-bottom-color: black;
    border-width: 1px;
  }
}


